<!doctype html>
<html ng-app="menuCategoriesApp" lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
  <div ng-controller="menuCategoriesController as menu" class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input ng-model="menu.searchTerm" type="text" placeholder="search item" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="menu.searchItem();" class="btn btn-primary">Narrow It Down For Me!</button>
    </div>
    <dl>
      <found-items ng-repeat="item in menu.results"></found-items>
    </dl>
    <p ng-if="menu.errorMessage" class="error">Error: {{menu.errorMessage}}</p>
  </div>
</body>
</html>
